In [1]:
import pandas as pd

In [2]:
data = pd.read_csv('../data/generated_data.csv')

In [3]:
data.head()

,1,1.1,91,blue dress,beautiful evening dress,dresses,7.04,7.04.1,5.7
0,1,2.0,58.0,tuxedo,the very special suit,suits,44.36,44.36,35.93
1,2,1.0,66.0,grey shorts,great summer shorts,trousers,40.80,32.64,26.44
2,2,2.0,98.0,brown belt,opens and closes,accessoirs,27.90,27.90,22.60
3,3,NaN,NaN,NaN,NaN,NaN,0.00,0.00,0.00
4,4,1.0,68.0,black shorts,great summer shorts,NaN,43.03,43.03,34.85